.dashboard-container {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

.pie-chart-container, .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.pie-chart-wrapper {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.pie-chart-wrapper svg {
    width: 100%;
    height: 100%;
    position: absolute;
}

table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

table, tbody {
    overflow-x: auto;
    display: block;
}