.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content {
  display: flex;
  width: 100%;
  height: 100svh;
}

.sidebar-container {
  position: fixed;
  width: 250px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar-container.visible {
  transform: translateX(0);
}

.content {
  flex-grow: 1;
  overflow-y: auto; 
  transition: margin-left 0.3s ease-in-out;
  height: calc(100svh - 60px);
  display: flex;
}

.content.with-sidebar {
  margin-left: 250px;
}

.navbar {
  position: fixed;
  z-index: 1000;
  height: 55px;
}

.body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}